@{
    ViewBag.Title = "Home Page";
}

<div class="product-info">
    <img src="~/img/process.png" width="50px" />
    <h2>Best bike service in your city!</h2>
    <button id="orderButton">Order</button>
</div>
