@{
    ViewBag.Title = "Home Page";
}

<div class="product-info">
    <div>
        <img src="~/img/process.png" width="50px" />
        <h2>Best bike service in your city!</h2>
        <p>We are professional. We work on modern toolsand our service is fully equipped.</p>
    </div>
    <div>
        <h2>Complex service</h2>
        <p>We will fix every issue.</p>
    <button id="orderButton">Order</button>
    </div>
    <div>
        <h2>Shop</h2>
        <p>At our shop you can buy literally everyting.</p>
        <button>Go to shop</button>
    </div>
</div>
