@{
    ViewBag.Title = "Home Page";
}


<div class="container text-center">
    <h1 class="display-3">Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
</div>

<div class="container fluid">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                @*<img src="~/img/process.png" width="50px" style="float:left" />*@
                <h4 class="my-0 font-weight-normal">ServiceStation</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Certified proffessionals</li>
                    <li>Locally owned & operated</li>
                    <li>25 years in business</li>
                </ul>
                <a type="button" class="btn btn-md btn-block btn-primary" asp-controller="App" asp-action="About">Learn more</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Shop</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Wide product range</li>
                    <li>Helpfull staff</li>
                    <li>Low prices</li>
                </ul>
                <a type="button" class="btn btn-md btn-block btn-primary" asp-controller="Shop" asp-action="Index">Learn more</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Service</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Expert mechanics</li>
                    <li>Helpfull staff</li>
                    <li>Quick & professional</li>
                </ul>
                <button type="button" class="btn btn-md btn-block btn-primary">Learn more</button>
            </div>
        </div>
    </div>
</div>

