@model OrderViewModel
@{
    ViewBag.Title = "Checkout";
}

<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for=@Model.UserName class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for=@Model.UserName class="form-control" />
            <span asp-validation-for=@Model.UserName class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.PhoneNumber class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for=@Model.PhoneNumber class="form-control" />
            <span asp-validation-for=@Model.PhoneNumber class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.Email class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for=@Model.Email class="form-control" />
            <span asp-validation-for=@Model.Email class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.Address.FirstName class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for=@Model.Address.FirstName class="form-control" />
            <span asp-validation-for=@Model.Address.FirstName class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.Address.LastName class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for=@Model.Address.LastName class="form-control" />
            <span asp-validation-for=@Model.Address.LastName class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.Address.AddressLine1 class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for=@Model.Address.AddressLine1 class="form-control" />
            <span asp-validation-for=@Model.Address.AddressLine1 class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.Address.ZipCode class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for=@Model.Address.ZipCode class="form-control" />
            <span asp-validation-for=@Model.Address.ZipCode class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.Address.City class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for=@Model.Address.City class="form-control" />
            <span asp-validation-for=@Model.Address.City class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Complete order" />
        </div>
    </div>
</form>

