.product-info {
    border: 1px solid grey;
    display: inline-block;
    padding: 8px 2px;
    margin: 2px;
    width: 450px;
    background-color: lightgray;
    border-radius: 5px;
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }
