<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServiceStation: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <h1>ServiceStation</h1>
    <div>
        <ul>
            <li><a asp-page="/Index">Home</a></li>
            <li><a asp-page="/Restaurants/List">Shop</a></li>
            <li><a asp-page="/About">Service</a></li>
            <li><a asp-page="/Contact">Contact</a></li>
        </ul>
    </div>

    <section>
        @RenderBody()
    </section>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ServiceStation
        </div>
    </footer>
    <script src="~/js/index.js"></script>
</body>
</html>
