@model IEnumerable<ServiceStation.Components.AdminMenuItem>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        AdminMenu
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var menuItem in Model)
        {
            <a class="dropdown-item" asp-controller="Admin" asp-action=@menuItem.ActionValue>@menuItem.DisplayValue</a>
        }
    </div>
</li>