@{
    ViewBag.Title = "About us";
}

<h2>About us</h2>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis purus quis ligula ultrices fermentum. Maecenas venenatis ex non massa rutrum, in efficitur ante interdum. Sed non egestas quam. Nunc sem justo, commodo vitae tincidunt a, faucibus et sapien. Proin quis rhoncus purus, vel viverra lorem. Duis eget purus posuere, porttitor tellus eu, finibus diam. Sed consequat ex sollicitudin, mattis dui ut, euismod sapien. Nulla magna quam, maximus nec viverra ut, suscipit viverra enim. Suspendisse volutpat justo in erat ultricies lacinia. Suspendisse posuere eu arcu in ornare. In aliquam iaculis leo sed vulputate. Duis feugiat semper urna in pretium. Vestibulum laoreet felis ultrices tellus faucibus, vel ultrices nisi commodo. Fusce ut urna et neque vestibulum convallis ut sit amet enim. </p>
</div>
<p>Click below to contact us</p>
<email address="example@emple.eple" content="example@emple.eple"></email>